body {
	background-color: purple;
	font-family: sans-serif;
}

#title {
	color: #fff;
}

.section {
	padding: 5px 0 5px 0;
}

ul li {
	color: #fff;
	padding: 3px;
}

.deleteButton {
	margin-left: 10px;
	background-color: #800080;
	color: #fff;
	border: 1px solid #8d778d;
}
